.backdropFilter {
    backdrop-filter: blur(10px);
    /* background-color: rgba(219, 234, 254, var(--tw-bg-opacity)); */
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.backdropColor {
    background-color: rgba(59, 130, 246, 0.2);
}

.backdropColor::placeholder {
    color: #fff;
}